@use '/src//utils/mixins';

.content-page {
    padding: 50px 0 230px 0;
    background-image: url('/src/assets/content-page/bg.jpg');
    background-size: cover;
    background-position: top;
}
.content-page_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-page__content__title {
    font-size: 50px;
    line-height: 110%;
    letter-spacing: 1.65px;
    color: #35B8BE;
    margin: 0 0 29px 0;
    max-width: 373px;
}
.content-page__content__text {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.36px;
    color: #546285;
    margin: 0 0 57px 0;
    max-width: 578px;
}
.content-page__content__button {
    @include mixins.button()
}